body { 
  	background-image: url(images/background.png);
    background-position: left 40px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-repeat: no-repeat;
	background-color: #C0DEED;
}

a:visited {
	color: black;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 46px;
  background-color: white;
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  margin-top: 20px;
}

.navBarItems {
	margin-top: 0px;
}

ul {
	list-style-type: none;
}

#search {
	display: block;
	width: 180px;
	height: 23px;
	padding: 5px;
	padding-right: 40px;
	outline: none;
	border: 2px solid #dee6eb;
	border-radius: 50px;
	background-color: #f5f8fa;
	margin-top: -45px;
	margin-left: 790px;
	background-image: url(images/magnifyingGlass.png);
	background-repeat: no-repeat;
	background-position: 200px 8px
}

#search:focus {
	background-color: white;
} 

.me {
	border-radius: 4px;
}

#navMe {
	float: right;
	margin-top: -37px;
	margin-right: 150px;
}

#tweetButton {
	float: right;
	margin-top: -37px;
	margin-right: 25px;
}

#tweetBox {
	background-color: #e6f2f7;
	width: 580px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
	border-radius: 5px;
	border: 1px solid #bfe0ec;
}

#tweetMe {
	height: 36px;
	margin-top: 5px;
	margin-left: 30px;
}

#tweetField {
	float: right;
	display: inline;
	width: 440px;
	height: 23px;
	padding: 5px;
	padding-right: 40px;
	outline: none;
	border: 2px solid #c0e1ed;
	border-radius: 5px;
	background-color: #f5f8fa;
	margin-top: 7px;
	margin-right: 10px;
	background-image: url(images/camera.png);
	background-repeat: no-repeat;
	background-position: 453px 8px;
}

#tweetField::-webkit-input-placeholder { /* WebKit browsers */
    color:    #0084b4;
}
#tweetField:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #0084b4;
   opacity:  1;
}
#tweetField::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #0084b4;
   opacity:  1;
}
#tweetField:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #0084b4;
}

#tweets {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}

#tweetSubmit {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	display: none;
}

.tweetClass {
	background-color: white;
	border: 1px solid #e1e8ed;
}

.tweetClass a {
	text-decoration: none;
}

.tweetClass a:hover {
	text-decoration: underline;
	color: blue;
}

.profileImages {
	vertical-align: middle;
}